/* Import Google Font FIRST */
@import url("https://fonts.googleapis.com/css2?family=Outfit:wght@100..900&display=swap");

/* Tailwind directives */
@tailwind base;
@tailwind components;
@tailwind utilities;

/* Custom styles */
:root {
  font-family: "Outfit", sans-serif;
  line-height: 1.5;
  font-weight: 400;

  color-scheme: light;
  color: black;
  background-color: white;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

body {
  margin: 0;
  display: flex;
  flex-direction: column;
  min-width: 320px;
  min-height: 100vh;
  background-color: white;
  color: black;
}

h1 {
  font-size: 3.2em;
  line-height: 1.1;
  color: black;
}

a {
  font-weight: 500;
  color: rgb(255, 9, 9);
  text-decoration: inherit;
}
a:hover {
  color: #333333d5;
}

button {
  border-radius: 8px;
  border: 1px solid black;
  padding: 0.6em 1.2em;
  font-size: 1em;
  font-weight: 500;
  font-family: inherit;
  background-color: white;
  color: black;
  cursor: pointer;
  transition:
    border-color 0.25s,
    background-color 0.25s;
}
button:hover {
  border-color: #131313;
  background-color: #dddddd;
}
button:focus,
button:focus-visible {
  outline: 4px auto -webkit-focus-ring-color;
}

@media (max-width: 640px) {
  a.active {
    background-color: black;
    color: white;
  }
}
